body {
    font-family: 'Montserrat', 'sant-serif';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #2B2A30;
}

button {
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
}

input {
    border: none;
    background: transparent;
    font-family: 'Bebas Neue Book';
    font-size: 196px;
    line-height: 196px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 23px;
    width: 100%;
    color: #fff;
    text-align: center;
    outline: none;
    padding: 0;
}

.screen-input__minutes {
    margin-left: 60px;
}

.screen-input__seconds {
    margin-right: 60px;
}

.clock-face__border {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 518px;
    height: 518px;
    background: #900A0A;
    border-radius: 50%;
    box-shadow: -5px 14px 44px #000000, 5px -16px 50px rgba(255, 255, 255, 0.15);
}

.clock-face {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: radial-gradient(71.4% 71.4% at 51.7% 28.6%, #3A393F 0%, #17171A 100%);
    box-shadow: inset 0px 0px 114px rgba(0, 0, 0, 0.45);
}

.clock-face__wrap {
    position: absolute;
    top: 25%;
    display: block;
    text-align: center;
    color: #fff;
}

.clock-face__screen {
    font-family: 'Bebas Neue Book';
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.screen-div {
    font-size: 120px;
}

.clock-face__button {
    font-family: "Montserrat";
    font-size: 16px;
    letter-spacing: 0.6em;
    text-transform: uppercase;
    color: inherit;
    margin-bottom: 40px;
    cursor: pointer;
}

.clock-face__settings {
    cursor: pointer;
}
